@import "../../../styles/variables";

:host {
  mat-chip-list {
    mat-chip {
      margin: 5px !important;
      &.selected {
        color: #fff;
        background-color: $marvel-red;
      }
    }
  }
}
