@import "~@angular/material/theming";

:host {
  mat-list {
    mat-list-item {
      cursor: pointer;
      &:hover {
        background-color: #f7f7f7;
        transition: all .3s ease-in-out;
        a {
          transition: all .3s ease-in-out;
          margin-left: 5px;
          letter-spacing: 1px;
        }
        .hero-avatar {
          transition: all .3s ease-in-out;
          width: 45px;
          height: 45px;
        }
      }
      .hero-avatar {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-position: center center;
        transition: all .3s ease-in-out;
      }
      a {
        text-decoration: none;
        transition: all .3s ease-in-out;
      }
    }
  }
}
