<mat-card>
  <mat-card-header>
    <h3>Superhero Groups</h3>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let group of groups" [routerLink]="['/groups', group.id]">
        <div fxFlex>
          <a>{{ group.name | titlecase }}</a>
        </div>
        <div class="actions">
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item (click)="editChange.emit(group)">edit</button>
            <button mat-menu-item (click)="deleteChange.emit(group)">delete</button>
          </mat-menu>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
