<div class="wrapper">

  <mat-card routerLink="/heroes" class="clickable">
    <mat-card-header>
      <mat-icon mat-card-avatar style="font-size: 40px">person</mat-icon>&nbsp;
      <mat-card-title style="line-height: 40px; font-size: 25px; font-weight: 300; margin-bottom: 0;">
        Heroes
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="http://localhost:3000/img/heroes.png" style="background-color: #ffffff;
    min-height: 265px;" alt="heroes">
  </mat-card>

  <mat-card routerLink="/powers" class="clickable">
    <mat-card-header>
      <mat-icon mat-card-avatar style="font-size: 40px">flash_on</mat-icon>&nbsp;
      <mat-card-title style="line-height: 40px; font-size: 25px; font-weight: 300; margin-bottom: 0;">
        Powers
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="http://localhost:3000/img/powers.png" style="min-height: 265px" alt="powers">
  </mat-card>

  <mat-card routerLink="/groups" class="clickable" style="margin-bottom: 0">
    <mat-card-header>
      <mat-icon mat-card-avatar style="font-size: 40px">group</mat-icon>&nbsp;
      <mat-card-title style="line-height: 40px; font-size: 25px; font-weight: 300; margin-bottom: 0;">
        Groups
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="http://localhost:3000/img/groups.png" style="background-color: #ffffff;
    min-height: 265px;" alt="groups">
  </mat-card>

</div>
